* {
    font-family: 'Nunito', sans-serif;
}
body{
    background-color:rgb(244, 242, 242);
}    

@media (max-width: 768px) { 
    header{
        grid-template-columns: 1fr;
        background-image: none;
    }
}
header {
    display: grid;
    justify-content: center;
  
    
}

header img {
    /* These two lines make the image responsive to any device */
    max-width: 100%; 
    height: 50vh;
    /* Use the following two lines of code the next time you want to center an image in a grid row when using display grid */
    align-self: center; 
    justify-self: center; 
}


header nav {
    text-align: center; 
}

header ul {
    list-style: none;
    display: flex;
    gap: 5px;
    background-color: rgb(42, 167, 126);
    padding:10px;
    width: 100% ; 
    border-radius: 10px; 
}
    
header ul li {
    font-size: 1.2em;
    margin: 0 7px;
   

}
header ul li a {
    text-decoration: none;
    color: white !important;
}

.section1{ 
    font-family: 'Nunito', sans-serif;
    font: 32px bold;
    color: white;
    background-image: url(https://i.ibb.co/2S4v3kz/istockphoto-1402094955-612x612.jpg);
    background-size: cover;
    overflow-x: hidden;
    margin-left: 8px;
    margin-right: 8spx;
    width: auto;
    height: 50%;
    border-radius: 10px;
    padding: 20px;
}
.section1 .styled-text{
    color:rgb(42, 167, 126);
}

.section1 .styled-text a{
    text-decoration: none;
    color: rgb(42, 167, 126);
} 
.section2{
    display: inline-flex; 
    
}

.one{
    box-sizing: border-box;
    border:2px solid rgb(42, 167, 126);
    margin: 5px;
    border-radius: 5px;
    margin: 5px;
    text-align:  center;
    background-image: url(https://i.ibb.co/5KpztW6/istockphoto-1471957254-612x612.jpg);
    background-size: cover;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    
}
.footer-left img{
    width: 50px;
    height: auto;
   
}
.footer-right hr{
    width:100% !important;
    margin:0;
}
.footer-right p{
    font-size: small;
    flex-grow: 1;
    padding-left: 20px;
}